<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8">
    <title>Full_Stack_App_With_Authentication</title>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div id="app">Welcome to your dashboard!</div>
    <form action="/logout?_method=DELETE" method="POST">
      <button class="save" type="submit">Log Out</button>
    </form>
    <script src="bundle.js"></script>
  </body>
</html>
